<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="fonts/icomoon/style.css">
        <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="css/aos.css">
        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css">

        <title>Eulium</title>

        <style>
            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap');
            @import url('https://fonts.googleapis.com/css?family=Ubuntu');

            input {
                background-color: #eee;
                border: none;
                padding: 12px 15px;
                margin: 15px 0;
                outline: none;
                width: 100%;
            }
        </style>
    </head>

    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

        <div class="lines-wrap">
            <div class="lines-inner">
                <div class="lines"></div>
            </div>
        </div>
        <!-- END lines -->

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icofont-close js-menu-toggle"></span>
                </div>
            </div>
        <div class="site-mobile-menu-body"></div>

        <div class="untree_co-section" id="about-section">
            <div class="container"> 
                <table style="margin:0 auto;margin-bottom:80px">
                    <tbody>
           
                        <td bgcolor="#FFFFFF" style="font-family:Helvetica;color:#6f6f6f;width:700px;padding:5%;border:1px solid #ced3d8">
                            <h1 style="margin:0;font-weight:normal;padding:0;font-size:28px;color:#444444;margin-top:10px;text-align:center">
                                Welcome to Eulium Node App Ver 1.0
                            </h1>

                            </br>
                            </br>
                            </br>
                            
                            You're a moment away to start mining ELM coins and make fees via validating transactions! Please assign your Eulium Wallet public key with this Server to start getting your rewards. 

                            <br>
                            <br>
                            
                            Please be aware! You can assign the Eulium wallet public key to the Server only once for security purposes. If you want to use another public key, you must install Eulium Node App again. 
                                
                                <p style="color:#434343;text-align:center;padding:0;font-weight:400;font-size:18px;">
                                <br><br>
                                    <form action="{{ url_for('assignKey') }}" method = "POST">
                                        <input type="text" name="reward_pubkey" placeholder="Eulium Wallet Public Key"></input>
                                        <br>
                                        <input class="btn btn-primary smoothscroll" type="submit" value="Assign" onClick="return submit_logic()"></input>
                                    </form>
                                </p>
            
                        </td>
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html> 



<script>
  function submit_logic() {
    var code;
    code = document.getElementById("code").value;

    if (code == "") {
      alert("Please fill out code field");
      return false;
      }
    }







</script>



